html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.red{
    background-color:red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.cube{
    display:flex;
}

.table-cube {
    width:90px;
    display:inline-block;
}

.table-cube td {
    border: 1px solid #8f7e7e;
}

.part-cube{
    width:30px;
    height:30px;
    /*border:1px solid #8f7e7e;*/
}

.layer1, .layer2, .layer3{
    /*display:inline-flex;*/
    /*float:left;*/
}

.side-three, .side-four, .side-two, .side-one, .left-side, .right-side{
    margin:10px;
    /*width:150px;*/
    /*display:inline-block;*/
}

.col-cube-1, col-cube-2, .col-cube-3{
    display:inline-block;
    /*width:200px;*/
}

.col-cube-1, .col-cube-3{
    display:flex;
    align-items:flex-end;
}