@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cube">
    <div class="col-cube-1">
         <div class="left-side">
        <table class="table-cube">
            <tbody>
                <tr class="layer3-left">
                    <td id="ll31" class="part-cube"></td>
                    <td id="ll32" class="part-cube"></td>
                    <td id="ll33" class="part-cube"></td>
                </tr>
                <tr class="layer2-left">
                    <td id="ll21" class="part-cube"></td>
                    <td id="ll22" class="part-cube"></td>
                    <td id="ll23" class="part-cube"></td>
                </tr>
                <tr class="layer1-left">
                    <td id="ll11" class="part-cube"></td>
                    <td id="ll12" class="part-cube"></td>
                    <td id="ll13" class="part-cube"></td>
                </tr>
            </tbody>
        </table>

    </div>
    </div>
    <div class="col-cube-2">
        <div class="side-four">
        <table class="table-cube">
            <tbody>
                <tr class="layer3-four">
                    <td id="ls4_31" class="part-cube"></td>
                    <td id="ls4_32" class="part-cube"></td>
                    <td id="ls4_33" class="part-cube"></td>
                </tr>
                <tr class="layer2-four">
                    <td id="ls4_21" class="part-cube"></td>
                    <td id="ls4_22" class="part-cube"></td>
                    <td id="ls4_23" class="part-cube"></td>
                </tr>
                <tr class="layer1-four">
                    <td id="ls4_11" class="part-cube"></td>
                    <td id="ls4_12" class="part-cube"></td>
                    <td id="ls4_13" class="part-cube"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="side-three">
        <table class="table-cube">
            <tbody>
                <tr class="layer3-three">
                    <td id="ls3_31" class="part-cube"></td>
                    <td id="ls3_32" class="part-cube"></td>
                    <td id="ls3_33" class="part-cube"></td>
                </tr>
                <tr class="layer2-three">
                    <td id="ls3_21" class="part-cube"></td>
                    <td id="ls3_22" class="part-cube"></td>
                    <td id="ls3_23" class="part-cube"></td>
                </tr>
                <tr class="layer1-three">
                    <td id="ls3_11" class="part-cube"></td>
                    <td id="ls3_12" class="part-cube"></td>
                    <td id="ls3_13" class="part-cube"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="side-two">
        <table class="table-cube">
            <tbody>
                <tr class="layer3-two">
                    <td id="ls2_31" class="part-cube"></td>
                    <td id="ls2_32" class="part-cube"></td>
                    <td id="ls2_33" class="part-cube"></td>
                </tr>
                <tr class="layer2-two">
                    <td id="ls2_21" class="part-cube"></td>
                    <td id="ls2_22" class="part-cube"></td>
                    <td id="ls2_23" class="part-cube"></td>
                </tr>
                <tr class="layer1-two">
                    <td id="ls2_11" class="part-cube"></td>
                    <td id="ls2_12" class="part-cube"></td>
                    <td id="ls2_13" class="part-cube"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="side-one">
        <table class="table-cube">
            <tbody>
                <tr class="layer3-one">
                    <td id="ls1_31" class="part-cube"></td>
                    <td id="ls1_32" class="part-cube"></td>
                    <td id="ls1_33" class="part-cube"></td>
                </tr>
                <tr class="layer2-one">
                    <td id="ls1_21" class="part-cube"></td>
                    <td id="ls1_22" class="part-cube"></td>
                    <td id="ls1_23" class="part-cube"></td>
                </tr>
                <tr class="layer1-one">
                    <td id="ls1_11" class="part-cube"></td>
                    <td id="ls1_12" class="part-cube"></td>
                    <td id="ls1_13" class="part-cube"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-cube-3">
        <div class="right-side">
        <table class="table-cube">
            <tbody>
                <tr class="layer3-right">
                    <td id="lr31" class="part-cube"></td>
                    <td id="lr32" class="part-cube"></td>
                    <td id="lr33" class="part-cube"></td>
                </tr>
                <tr class="layer2-right">
                    <td id="lr21" class="part-cube"></td>
                    <td id="lr22" class="part-cube"></td>
                    <td id="lr23" class="part-cube"></td>
                </tr>
                <tr class="layer1-right">
                    <td id="lr11" class="part-cube"></td>
                    <td id="lr12" class="part-cube"></td>
                    <td id="lr13" class="part-cube"></td>
                </tr>
            </tbody>
        </table>

    </div>
    </div>

</div>
<button class="button">
    Размешать
</button>