@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cube">
    <div class="back-side">
        <div class="layer3">
            <div id="l31">

        </div>
        <div id="l32">

        </div>
        <div id="l33">

        </div>
        </div>
        <div class="layer2">
            <div id="l21">

        </div>
        <div id="l22">

        </div>
        <div id="l23">

        </div>
        </div>
        <div class="layer1">
            <div id="l11">

        </div>
        <div id="l12">

        </div>
        <div id="l13">

        </div>
        </div>
    </div>
    <div class="top-side">

    </div>
    <div class="front-side">

    </div>
    <div class="bottom-side">

    </div>

</div>